ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

li {
    position: absolute;
    display: flex;
    align-items: center;
}

.sizeArrow {
    height: 40px;
    padding: 0 60px;
}

.sizeImg {
    height: 100vh;
}

.close {
    display: none;
}

.open {
    position: absolute;
    display: flex;
    align-items: center;
}