#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizeArrow {
    height: 40px;
    padding: 0 60px;
}

.sizeImg {
    height: 100vh;
}

.close {
    display: none;
}

.open {
    display: flex;
}